@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f7fb;
}
.contenedor {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #f4f7fb;
    padding: 70px 70px 70px 70px ;
}

.img-izq {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collage img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.texto-dere {
    flex: 1;
    padding: 20px;
    
}

.texto-dere h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.texto-dere p, ul {
    color: grey;
    margin-bottom: 40px;
}

.texto-dere li {
    list-style: square;
   
}

.texto-dere a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: rgb(230, 82, 82);
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
}
.texto-dere a:hover {
    
    color: rgb(230, 82, 82);
    background-color: rgba(255, 255, 255, 0.707);
    transition-duration: 0.5s;
   
}

/* Segunda parte del codigo */

.container-j {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #e8eff6;
    padding: 70px 70px 70px 70px    ;
}


.left-section {
    flex: 1;
    padding: 20px;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.tab {
    display: flex;
    align-items: center;
    padding: 7px 30px;
    color: white;
    border: none;
    font-size: 1rem;
    background-color: #a968f1;
    cursor: pointer;
    font-weight: bold;
    flex-direction: column;
}

.tab:hover {
    background-color: #e6e7eb;
    color: #333;
    transition-duration: 0.5s;
}

.content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.content ul {
    list-style: none;
    margin-bottom: 20px;
}

.content ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #333;
}

.buttons {
    display: flex;
    gap: 10px;
}

.terms-button {
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #ff5a5f;
}

.terms-button:hover {
    background-color: white;
    color: #ff5a5f;
    transition: 0.5s;
}

.privacy-button {
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    background-color: #333;
    color: white;
}

.privacy-button:hover {
    background-color: white;
    color: #333;
    transition: 0.5s;
}
#tick{
    color: #19ca94;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* Normal */
    font-style: normal; /* Regular */   

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px ;
    font-weight: 700; /* Normal */
    font-style: normal; /* Regular */   
    
}
.navbar img {
    height: 50px; /* Ajusta la altura de la imagen según tus necesidades */
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    position: relative;
    margin-left: 20px;
}
.navbar a {
    text-decoration: none;
    padding: 10px;
    display: block;
}
.button-normal{
    
    color: rgb(60, 60, 60);
}
.button-normal:hover {
    color: #FF556E;
}
.dropdown {
    display: none;
    position: absolute;
    box-shadow: 7px 4px 4px rgb(196, 195, 195);
    min-width: 150px;
    z-index: 1;
    border-bottom: 1px black solid;
}
.dropdown-item{
    
    color: rgb(60, 60, 60);
    border-bottom: 1px rgb(158, 158, 158) solid;
}
.dropdown-item:hover{
    
    color: #FF556E;
}
.download-button{
    border: 2px #FF556E solid;
    color: #FF556E;
    border-radius: 120px;
}
.download-button:hover{
    border: 2px #FF556E solid;
    background-color:#FF556E;
    color: white;
    border-radius: 120px;

    transition: 0.5s;

}
.dropdown a {
    padding: 10px;
}
.navbar li:hover .dropdown {
    display: block;
}
.main-text{
    padding-top: 1%;
    text-align: center ;
    margin-right: 25%;
    margin-left: 25%;
}
.title-text{
    font-size: 300%;
    margin-bottom: 0px;
}
.p-text{
    
    color: rgb(60, 60, 60);
}

.button-container {
    display: flex; /* Activa el modo flexbox */
    justify-content: center; /* Centra horizontalmente los elementos */
    margin: 20px 0; /* Espaciado superior e inferior, opcional */
}

.download-button-main {
    background-color: #FF556E;

    color: white;
    border-radius: 120px;
    text-decoration: none;
    padding: 5px 20px; /* Añade un poco de padding lateral */
    margin: 0 10px; /* Espaciado horizontal entre los botones */
}

.logo-image{
    display: left;
}
.container-r{
    padding: 50px;
}


.container-n {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Espacio entre los íconos */
}

.item-n {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.icon img {
    width: 50px;
    height: 50px;
}

/* Colores de fondo de los iconos */
.identify-goals {
    background-color: #e6e0fc;
}

.situation-analysis {
    background-color: #d4f7ef;
}

.task-settings {
    background-color: #fde0e6;
}

.social-interaction {
    background-color: #ffecc9;
}

.get-things-done {
    background-color: #d5f1fe;
}

/* ICONOS */
.fluent--people-community-48-filled {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23000' d='M15 17a6 6 0 1 0 0-12a6 6 0 0 0 0 12m18 0a6 6 0 1 0 0-12a6 6 0 0 0 0 12M4 22.446A3.446 3.446 0 0 1 7.446 19h9.624A7.96 7.96 0 0 0 16 23a7.98 7.98 0 0 0 2.708 6h-2.262a5.44 5.44 0 0 0-4.707 2.705c-3.222-.632-5.18-2.203-6.32-3.968C4 25.54 4 23.27 4 22.877zM31.554 29a5.44 5.44 0 0 1 4.707 2.705c3.222-.632 5.18-2.203 6.32-3.968C44 25.54 44 23.27 44 22.877v-.43A3.446 3.446 0 0 0 40.554 19H30.93A7.96 7.96 0 0 1 32 23a7.98 7.98 0 0 1-2.708 6zM30 23a6 6 0 1 1-12 0a6 6 0 0 1 12 0M13 34.446A3.446 3.446 0 0 1 16.446 31h15.108A3.446 3.446 0 0 1 35 34.446v.431c0 .394 0 2.663-1.419 4.86C32.098 42.033 29.233 44 24 44s-8.098-1.967-9.581-4.263C13 37.54 13 35.27 13 34.877z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: rgb(138, 43, 226);
    
}
.bytesize--code {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m10 9l-7 8l7 8M22 9l7 8l-7 8M18 7l-4 20'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: green;
    
}

.mdi--gear {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97s-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1s.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: red;
}

.fa-solid--comments {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000' d='M416 192c0-88.4-93.1-160-208-160S0 103.6 0 192c0 34.3 14.1 65.9 38 92c-13.4 30.2-35.5 54.2-35.8 54.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 352 8 352c36.6 0 66.9-12.3 88.7-25c32.2 15.7 70.3 25 111.3 25c114.9 0 208-71.6 208-160m122 220c23.9-26 38-57.7 38-92c0-66.9-53.5-124.2-129.3-148.1c.9 6.6 1.3 13.3 1.3 20.1c0 105.9-107.7 192-240 192c-10.8 0-21.3-.8-31.7-1.9C207.8 439.6 281.8 480 368 480c41 0 79.1-9.2 111.3-25c21.8 12.7 52.1 25 88.7 25c3.2 0 6.1-1.9 7.3-4.8c1.3-2.9.7-6.3-1.5-8.7c-.3-.3-22.4-24.2-35.8-54.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: rgb(255, 153, 0);
}

.ion--rocket-sharp {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M477.64 38.26a4.75 4.75 0 0 0-3.55-3.66c-58.57-14.32-193.9 36.71-267.22 110a317 317 0 0 0-35.63 42.1c-22.61-2-45.22-.33-64.49 8.07C52.38 218.7 36.55 281.14 32.14 308a9.64 9.64 0 0 0 10.55 11.2l87.31-9.63a194 194 0 0 0 1.19 19.7a19.53 19.53 0 0 0 5.7 12L170.7 375a19.6 19.6 0 0 0 12 5.7a194 194 0 0 0 19.59 1.19l-9.58 87.2a9.65 9.65 0 0 0 11.2 10.55c26.81-4.3 89.36-20.13 113.15-74.5c8.4-19.27 10.12-41.77 8.18-64.27a317.7 317.7 0 0 0 42.21-35.64C441 232.05 491.74 99.74 477.64 38.26M294.07 217.93a48 48 0 1 1 67.86 0a47.95 47.95 0 0 1-67.86 0'/%3E%3Cpath fill='%23000' d='M168.4 399.43c-5.48 5.49-14.27 7.63-24.85 9.46c-23.77 4.05-44.76-16.49-40.49-40.52c1.63-9.11 6.45-21.88 9.45-24.88a4.37 4.37 0 0 0-3.65-7.45a60 60 0 0 0-35.13 17.12C50.22 376.69 48 464 48 464s87.36-2.22 110.87-25.75A59.7 59.7 0 0 0 176 403.09c.37-4.18-4.72-6.67-7.6-3.66'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color:rgb(76, 158, 246)
}


